
import { isArray } from 'lodash';
import mysql from 'mysql';

export type DbLogger = {
  info: (...msg: any[]) => void;
  debug: (...msg: any[]) => void;
  error: (...msg: any[]) => void;
  warn: (...msg: any[]) => void;
  trace: (...msg: any[]) => void;
};

type CreateDbClientArgs = {
  host: string;
  user: string;
  database: string;
  password: string;
  charset: string;
  logger: DbLogger;
  connectionLimit?: number;
  connectTimeout?: number;
};

export function createDbClient({
  host,
  user,
  database,
  password,
  charset,
  logger,
  connectTimeout = 10000,
  connectionLimit = 20,
}: CreateDbClientArgs) {
  const pool = mysql.createPool({
    connectionLimit,
    connectTimeout,
    multipleStatements: true,
    host,
    user,
    password,
    database,
    charset,
  });

  const createConn = () => mysql.createConnection({ host, user, password, database, charset, multipleStatements: true });

  return {
    pool,
    runSql: createRunSql({ pool, logger, createConn }),
  };
}

type CreateRunSql = {
  pool: mysql.Pool;
  logger: DbLogger;
  createConn: () => mysql.Connection;
};

export type RunSql = ReturnType<typeof createRunSql>;

function provideConnection(cfg: CreateRunSql, usePool: boolean, cb: (err: any, connection: mysql.Connection, close: () => void) => void) {
  if (usePool) {
    cfg.pool.getConnection((err, connection) => {
      cb(err, connection, () => connection.release());
    });
  } else {
    try {
      const connection = cfg.createConn();
      cb(undefined, connection, () => connection.end());
    } catch (error) {
      cfg.logger.error(error);
    }
  }
}

function createRunSql({ pool, logger, createConn }: CreateRunSql) {
  return async <T>(sql: string, args: any[], usePool = true) => {
    const startTime = performance.now();
    return new Promise<{ data: T[]; sql: string; args: string[]; result: any }>((res, rej) => {
      provideConnection({ pool, logger, createConn }, usePool, (err, connection, close) => {

        const msgArgs = args ?? '';
        const pool = usePool ? '🎱' : ''
        const msg = `${sql.trim()} ${msgArgs} ${pool}`;
        connection.query(sql, args, (err, rows) => {
          const endTime = performance.now();
          const duration = String(Math.round(endTime - startTime)) + ' ms';
          if (err) {
            logger.error(`❗️ SQL ${duration.padStart(8)} ${'-'.padStart(6)} ${msg} ${err.message}`);
            logger.trace({ ...err, sql, args });
            rej(err);
          } else {
            let data = [] as T[];
            let result = {} as any;
            const isResultArray = isArray(rows);
            const isSelect = sql.trim().toLowerCase().startsWith('select');
            if (isSelect) {
              if (isResultArray) {
                data = rows;
                result = undefined;
              } else {
                result = rows;
              }
            } else {
              if (isResultArray) {
                data = rows[0];
                result = rows[1];
              } else {
                result = rows;
              }
            }

            const count = String(result?.affectedRows || data?.length || '0');
            logger.trace(` ✔ SQL ${duration.padStart(8)} ${count.padStart(6)} ${msg}`);
            res({
              data,
              result,
              sql,
              args,
            });
          }
        });
        logger.trace('end connection');
        close();
      });
    });
  };
}
